@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    font-family: 'Merriweather', sans-serif;
}

/* INFO NAVBAR */
.navbar{
    padding: 2rem;
    background-color: rgb(0, 0, 0);
}
.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar .nav-link{
        color:#c8a02c;
        font-size: 50px;
}
.nav-link{
    margin: 25px;
}
.navbar .navbar-brand {
        color: #c8a02c;
}

.logo{
    height: 150px;
    width: auto;
}
body {
    background: #122243 url('http://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-blend-mode: multiply;
    
}

.titulos { 
    color: #c8a02c;
    font-size: 50px;
    text-align: center;
    padding: 50px;
}
.subtitulos {
    color: #c8a02c;
    font-size: 30px;
    margin: 10px;
    
}

.parrafo-introduccion{
    color: #c8a02c;
    text-align: center;
    font-size: 40px;
}

.imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px; 
    justify-items: center;
    align-items: center; 
    margin-bottom: 50px;
}
.imagen{
    width: 150px;
    height: auto;
}

.video-container {
    position: relative;
    width: 100%; /* Ancho 100% del contenedor */
    padding-bottom: 56.25%; /* Relación 16:9: (9/16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* El video ocupa todo el ancho */
    height: 100%; /* El alto se ajusta automáticamente manteniendo la proporción */
}

.listas{
    color: white;
    font-size: 25px;
    list-style:none;
    text-align: left;
}

.lista{
    margin-bottom: 15px;
}

.lista-desktop{
    margin-bottom: 15px;
    display: block;
}
.lista-mobile {
    display: none;
}

footer{
    margin-top: auto;
    width: 100%;
    padding: 20px;
    color: #c8a02c;
    font-size: 30px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    background-color: black;
}
/*Grid de info principal*/
.grid-info{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px;
    padding: 20px;
}

.grid-titulo {
    background-color: #5d5246ed;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #c8a02c;
}

/*Grid de info de campeones*/
.grid-campeones-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
    gap: 20px;
    padding: 20px;
    
    
}
.grid-campeones-mobile{
    display: none;
    
}

.presentacion-campeon {
    background-color: #5d5246ed;
    border: 1px solid #c8a02c;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
    
}

.foto-champ {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}

/*Grid de info de final + video*/
.grid-video{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px;
    padding: 20px;
}


@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    .navbar{
        padding:1rem;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start; /* Opcional, para que empiecen a la izquierda */
        width: 100%; /* Dejá el ancho completo */
    }
    .navbar .nav-link{
        font-size: 20px;
        margin: 5px;
        padding: 0; 
    }
    
    .navbar-toggler {
        border-color: #c8a02c;
        background-color: #5d5246ed; /* o el color que quieras */
    }
    .titulos { 
        color: #c8a02c;
        font-size: 35px;
        text-align: center;
        padding: 25px;
    }
    .parrafo-introduccion{
        color: #c8a02c;
        text-align: center;
        font-size: 20px;
    }
    .subtitulos {
        color: #c8a02c;
        font-size: 20px;
        margin: 0px; 
    }
    
    .imagenes {
        grid-template-columns: 1fr 1fr; /* 2 columnas en móvil */
        gap: 50px; 
    }
    .imagen{
        width: 75px;
        height: auto;
    }

    .listas{
        font-size: 15px;
    }

    .grid-info{
        grid-template-columns: 1fr; 
    }
    .grid-campeones-desktop {
        display: none;
        /*grid-template-columns: 1fr;*/
    }
    .grid-video{
        grid-template-columns: 1fr;
    }
    .lista-desktop{
        margin-bottom: 0px;
        display: none;
    }
    .lista-mobile {
        display: block;
        margin-bottom: 15px;
    }
    .grid-campeones-mobile{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 10%;
        
    }
    .grid-campeones-mobile .card{
        background-color: #c8a02c;
    }
    .grid-campeones-mobile .card-body{
        background-color: #5d5246ed;
        color: white;
    }
    .grid-campeones-mobile .list-group-item{
        background-color: #5d5246ed;
        color: white;
        border-color: #c8a02c;
    }
}