@use "./variables" as *;
@keyframes expandir-linea {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.navbar .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $oro;
    transition: width 0.3s ease;
}

.navbar .nav-link:hover:before {
    animation: expandir-linea 0.3s ease forwards;
}