@use  "../variables" as*;
@use  "../extends" as *;
@use  "../mixins" as *;


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    font-family: 'Merriweather', sans-serif;
}
main{
    .titulos{
        color: $oro;
        font-size: $size-titulos;
        text-align: center;
        padding: 2rem;
    }
    .parrafo-introduccion{
        color: $oro;
        text-align: center;
        font-size: $size-subtitulos;
    }
    .imagenes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px; 
        justify-items: center;
        align-items: center; 
        margin-bottom: 50px;
        .imagen{
            width: 100%;
            height: auto;
        }
    }
}

body{
    background: #122243 url('http://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-blend-mode: multiply;
}



