@use  "../variables" as*;
@use  "../extends" as *;
@use  "../mixins" as *;
@use "../animaciones" as *;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

header{
    .navbar{
        padding: 2rem;
        background-color: $negro;
        .navbar-marca{
            .logo-marca{
                    height: 150px;
                    width: auto;
                }
        }
        .navbar-lista{
            display: flex;
            width: 100%;
            justify-content: center;
            color: $oro;
            .navbar-lista-link{
                color:$oro;
                font-size: 50px;
                margin: 25px;
                text-decoration: none;
                position: relative;
                transition: all 0.3s ease;
            }
        }
    }
}

footer{
    margin-top: auto;
    width: 100%;
    padding: 20px;
    color: $oro;
    font-size: 30px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    background-color: $negro;
    .subtitulos{
        @extend %subtitulo;
    }
}